
.main{
	background:#eee;
	padding: 1em 0 5em;
}
h3.menu_head {
	background:#df1f26;
	padding:1em 0 1em 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 0;
}
.sidebar_box{
	padding-right:0;
	border-right: 1px solid #B8B8B8;
}
.menu {
	width: auto;
	height: auto;
	padding: 0;
	margin:0;
    list-style: none;
	background: #efefef;
}
ul {
	padding: 0;
	list-style: none;
}
.menu > li > a {
	width: 100%;
	line-height: 3.5em;
	text-indent: 1.2em;
	display: block;
	position: relative;
	color: #3e3f3f;
    font-size:15px;
	text-decoration:none;
	border-bottom: 1px solid #ddd;
	font-weight:800;
}
.menu > li > a img{
	vertical-align: baseline;
	margin-right: 5px;
}
.menu ul li a {
	width: 100%;
	display: block;
	position: relative;
	font:800 15px/15px 'Lato', sans-serif;
	color:#3e3f3f;
	text-decoration:none;
	border-bottom: 1px solid #ddd;
	line-height: 3.5em;
	text-indent: 1.2em;
}
.menu ul li a:hover{
	background:#df1f26;
	color:#fff;
}
.menu > li > a:hover, .menu > li > a.active {
	background:#fff;
	border-right: 5px solid #df1f26;
}
.menu ul.kid-menu li a{
	border-bottom: none;
}
.delivery{
	margin-top:2em;
	text-align:center;
}
.delivery img{
	display:inline-block;
}
.delivery h3{
	color:#909191;
	text-transform:uppercase;
	font:300 35px/35px 'Lato', sans-serif;
}
.delivery h4{
	color:#909191;
	text-transform:uppercase;
	font:800 30px/30px 'Lato', sans-serif;
}
.twitter{
	margin-top:4em;
	padding-right: 4%;
}
.twitter h3{
	font:800 20px/20px 'Lato', sans-serif;
	color:#df1f26;
	margin-bottom: 1em;
}
ul.twt1{
	padding:0;
	list-style:none;
	margin-bottom:2em;
}
i.twt{
	width: 35px;
	height: 30px;
	background: url(../images/img-sprite.png)no-repeat -2px -1px;
	float: left;
	margin-right:4%;
}
ul.twt1 li.twt1_desc{
	overflow: hidden;
	font:600 14px/14px 'Lato', sans-serif;
	font-style:italic;
	line-height:1.5em;
	color:#909191;
}
.clients{
	margin-top:4em;
}
.clients h3{
	font:600 20px/20px 'Lato', sans-serif;
	color:#df1f26;
	text-transform:uppercase;
	margin-bottom:1.5em;
}
.clients h4{
	background:#f6f3f3;
	font:500 13px/13px 'Lato', sans-serif;
	font-style:italic;
	color:#000;
	line-height:1.8em;
	padding:2em;
	width:90%;
}
ul.user{
	padding:0;
	margin:0;
	list-style:none;
}
i.user_icon{
	width: 35px;
	height: 32px;
	background: url(../images/img-sprite.png)no-repeat -45px -3px;
	float: left;
	margin-right:10%;
}
ul.user li.user_desc{
	float:left;
}
ul.user li.user_desc p{
	font:700 13px/13px 'Lato', sans-serif;
	margin-top:15px;
}
ul.user li.user_desc p a{
	color:#000;
}
/*-----------------------------------------------------------------------------------*/
/*	Stroke
/*-----------------------------------------------------------------------------------*/
.b-link-stroke{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-weight: 300;
	overflow:hidden;
	margin-bottom: 5px;
}
.b-link-stroke .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:12em;
	left:0;
	text-align:center;
	color:#ffffff;
}

.b-link-stroke .b-top-line{
	position:absolute;
	top:-100%;
	left:0;
	width:50%;
	height:100%;
	background:rgba(248, 69, 69, 0.59);
}
.b-link-stroke .b-bottom-line{
	position:absolute;
	bottom:-100%;
	right:0;
	width:50%;
	height:100%;
	background:rgba(248, 69, 69, 0.59);
}
.b-link-stroke .b-top-line, .b-link-stroke .b-bottom-line{
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
} 
.b-link-stroke:hover .b-top-line{
	top:0;
}
.b-link-stroke:hover .b-bottom-line{
	bottom:0;
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	visibility:hidden; /* lt-ie9 */
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position:relative;
	left:-100%;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
.b-from-right{
	position:relative;
	right:-100%;
}
.b-animate-go:hover .b-from-right{
	right:0;
}
.b-from-top{
	position:relative;
	top:-100%;
}
.b-animate-go:hover .b-from-top{
	top:0;
}	
.b-from-bottom{
	position:relative;
	bottom:-100%;
}
.b-animate-go:hover .b-from-bottom{
	bottom:0;
}
.b-scale{
	position:relative;
	transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	-webkit-transform:scale(0);
}
.b-animate-go:hover .b-scale, h1{
	transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	-webkit-transform:scale(1);
}
.grid_1{
	background:#fff;
	border:5px solid #fff;
}
.grid_2{
	padding:1em 1em 0;
}
.grid_2 p{
	font: 600 15px/15px 'Lato', sans-serif;
	color: #797979;
	line-height: 1.2em;
	border-bottom: 1px solid #ECECEC;
	padding-bottom: 10px;
	margin-bottom: 5px;
}
a:hover, a:focus {
	color: #E74C3C;
	text-decoration:none;
}
ul.grid_2-bottom{
	padding:0;
	margin:0;
	list-style:none;
}
ul.grid_2-bottom li.grid_2-left{
	float: left;
	border-right: 1px solid #ECECEC;
	padding-right: 11%;
}
ul.grid_2-bottom li.grid_2-left p{
	border-bottom: 0;
	font: 800 20px/20px 'Lato', sans-serif;
	color: #000;
	margin: 3px 0 0 0;
	padding-bottom: 0;
}
ul.grid_2-bottom li.grid_2-right{
	float:right;
}
ul.grid_2-bottom li.grid_2-left p small {
	font:700 15px/15px 'Lato', sans-serif;
	vertical-align: text-top;
}
.btn.btn-primary {
	font:700 13px/13px 'Lato', sans-serif;
	font-style: normal;
	text-shadow: none;
	text-transform:uppercase;
	color: #FFF;
	padding:8px 30px;
	position: relative;
	letter-spacing: 0;
	background: transparent;
	border-radius: 0;
	box-shadow: none;
	border: none;
	outline: none;
	border-radius: 0;
	z-index: 1;
	overflow: hidden;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius:2px;
}
.btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	text-shadow:1px 1px 0px #cccccc;
	border: 1px solid #ccc;
	border-bottom-color: #b3b3b3;
}
.btn-primary {
	color: #fff;
}
.btn.btn-primary:before {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	bottom: 0;
	right: 0;
	top: 0;
	z-index: -1;
	border-radius: 0;
	background: #b0191e;
	background: -moz-linear-gradient(top,  #b0191e 0%, #d7252b 56%, #e2393e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0191e), color-stop(56%,#d7252b), color-stop(100%,#e2393e));
	background: -webkit-linear-gradient(top,  #b0191e 0%,#d7252b 56%,#e2393e 100%);
	background: -o-linear-gradient(top,  #b0191e 0%,#d7252b 56%,#e2393e 100%);
	background: -ms-linear-gradient(top,  #b0191e 0%,#d7252b 56%,#e2393e 100%);
	background: linear-gradient(to bottom,  #b0191e 0%,#d7252b 56%,#e2393e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0191e', endColorstr='#e2393e',GradientType=0 );
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.btn.btn-primary:hover:before {
	width: 100%;
	left: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn.btn-primary:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	border-radius: 0;
	background: #e2393e;
	background: -moz-linear-gradient(top,  #e2393e 0%, #d7252b 44%, #b0191e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2393e), color-stop(44%,#d7252b), color-stop(100%,#b0191e));
	background: -webkit-linear-gradient(top,  #e2393e 0%,#d7252b 44%,#b0191e 100%);
	background: -o-linear-gradient(top,  #e2393e 0%,#d7252b 44%,#b0191e 100%);
	background: -ms-linear-gradient(top,  #e2393e 0%,#d7252b 44%,#b0191e 100%);
	background: linear-gradient(to bottom,  #e2393e 0%,#d7252b 44%,#b0191e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2393e', endColorstr='#b0191e',GradientType=0 );
	z-index: -2;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.btn.btn-a{
	
	width: 200px;
	height: 30px;
}
.box_1{
	padding:0;
}
.top_grid1-box{
	padding:0;
}
.top_grid1-box1{
	padding-right:0;
}
.top_grid2-box2 {
	padding-left: 0;
}
.top_grid2{
	margin-top:2em;
}
h4.head{
	color: #000;
	font: 700 25px/25px 'Lato', sans-serif;
	text-transform: uppercase;
	padding: 30px 0 0 20px;
}
span.m_2{
	color:#df1f26;
}

